@import "../../assets/styles/consts";

.main {
  padding: 7px 50px;
  display: flex;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  @media (max-width: $lg) {
    display: flex;
    justify-content: center;
  }
}

.mainCategories {
  display: flex;

  @media (max-width: $xs) {
    display: flex;
    justify-content: center;
  }

  .mainCategory {
    color: #5179e8;
    font-size: 27px;
    font-weight: 800;
    opacity: 0.6;
    margin-right: 10px;
    cursor: pointer;

    @media (max-width: $xs) {
      font-size: 12px;
    }

    @media (max-width: $sm) {
      font-size: 20px;
    }

    &:hover {
      color: darken(#5179e8, 10%);
    }
  }
}

.aimBlock {
  margin-top: 10px;
  margin-bottom: 30px;

  @media (max-width: $lg) {
    text-align: center;
  }

  @media (max-width: $md) {
    margin-bottom: 20px;
  }

  @media (max-width: $xs) {
    margin-bottom: 10px;
  }

  .solveText {
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;

    @media (max-width: $md) {
      font-size: 66px;
    }

    @media (max-width: $sm) {
      font-size: 60px;
    }

    @media (max-width: $xs) {
      font-size: 30px;
    }
  }

  .solveWhatText {
    font-size: 80px;
    margin: 0;
    text-transform: uppercase;

    @media (max-width: $md) {
      font-size: 66px;
    }

    @media (max-width: $sm) {
      font-size: 60px;
    }

    @media (max-width: $xs) {
      font-size: 30px;
    }
  }
}

.mainBtns {
  display: flex;
  justify-content: center;

  .tryBtnMain {
    height: 48px;
    width: 220px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    background-color: $purple;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 10px;

    @media (max-width: $sm) {
      width: 160px;
    }

    @media (max-width: $xs) {
      width: 130px;
      height: 40px;
    }

    &:hover {
      background: lighten($purple, 5%);
    }

    &:active {
      background: darken($purple, 5%);
    }
  }

  .callBtnMain {
    height: 48px;
    width: 220px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    background-color: #343440;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: 10px;

    @media (max-width: $sm) {
      width: 160px;
    }

    @media (max-width: $xs) {
      width: 130px;
      height: 40px;
    }

    &:hover {
      background: lighten(#343440, 5%);
    }

    &:active {
      background: darken(#343440, 5%);
    }
  }
}

.leftMain {
  width: 600px;
  margin-right: 60px;

  @media (max-width: $xs) {
    margin-right: 0px;
  }
}

.reightMain {
  width: 500px;
  height: 420px;

  @media (max-width: $lg) {
    display: none;
  }
}

