@import "../../assets/styles/consts";

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;

  @media (max-width: $lg) {
    max-width: 1170px;
    padding: 0 16px;
  }

  @media (max-width: $md) {
    max-width: 992px;
  }

  @media (max-width: $sm) {
    max-width: 768px;
    padding: 0 12px;
  }

  @media (max-width: $xs) {
    max-width: 576px;
  }
}
