@import "../../assets/styles/consts";

.upNavList {
  display: flex;
  align-items: center;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 28px;
  width: 128px;
  cursor: pointer;
}

.upNav {
  display: flex;
  align-items: center;

  .upNavItem {
    padding: 15px;
    color: #343440;
    list-style-type: none;
    text-decoration: none;

    &:hover {
      color: lighten($purple, 5%);
    }
  }

  .navSvg {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.tryBtn {
  height: 48px;
  width: 220px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  background-color: $purple;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background: lighten($purple, 5%);
  }

  &:active {
    background: darken($purple, 5%);
  }
}

@media (max-width: $lg) {
  .tryBtn {
    margin-right: 36px;
  }
}

@media (max-width: $md) {
  .download {
    display: none;
  }

  .tryBtn {
    margin-right: 36px;
  }
}

@media (max-width: $sm) {
}

@media (max-width: $xs) {
  .tryBtn {
    width: 150px;
    height: 40px;
  }

  .call {
    display: none;
  }

  .logoImg {
    width: 100px;
    height: 22px;
  }

}

// $lg: 1170px;
// $md: 992px;
// $sm: 768px;
// $xs: 576px;
