@import "../../assets/styles/consts";

.header {
  padding: 16px 0;
}

.upNavList {
  display: flex;
  align-items: center;
}

.headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logoImg {
  height: 28px;
  width: 128px;
  cursor: pointer;

  @media (max-width: $xs) {
    width: 100px;
    height: 22px;
  }
}

.upNav {
  display: flex;
  align-items: center;

  .upNavItem {
    padding: 15px;
    color: #343440;
    list-style-type: none;
    text-decoration: none;

    &:hover {
      color: lighten($purple, 5%);
    }
  }

  .navSvg {
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
}

.tryBtn {
  height: 48px;
  width: 220px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  background-color: $purple;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  @media (max-width: $xs) {
    width: 150px;
    height: 40px;
  }

  &:hover {
    background: lighten($purple, 5%);
  }

  &:active {
    background: darken($purple, 5%);
  }
}

.download {
  @media (max-width: $md) {
    display: none;
  }
}

.call {
  @media (max-width: $xs) {
    display: none;
  }
}

