@import "../../assets/styles/consts";

.copyright {
  padding: 30px 0;
  background-color: #23232a;

  .container {
    display: flex;
    justify-content: space-between;

    .crText {
      color: #e0e0e0;
      font-size: 16px;
    }

    .media {
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: $lg) {
  .copyright {
    padding: 30px 20px;
  }
}

@media (max-width: $md) {
}

@media (max-width: $sm) {

}

@media (max-width: $xs) {
}

// $lg: 1170px;
// $md: 992px;
// $sm: 768px;
// $xs: 576px;
